**Nihal Naushad Sayyad , Roll no - 17 , CSE(AI&ML)**

**Mounting Google Drive to read the dataset.**

In [ ]:
from google.colab import drive 
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd 
data = pd.read_csv('/content/gdrive/My Drive/Data Science lab/Data analysis.csv')

In [ ]:
#Python Pandas Data Structure
#DataFrame
import pandas as pd  
# a list of strings  
x = ['Python', 'Pandas']  
# Calling DataFrame constructor on list  
df = pd.DataFrame(x)  
print(df)

        0
0  Python
1  Pandas

In [ ]:
#Series
import numpy as np  
info = np.array(['P','a','n','d','a','s'])  
a = pd.Series(info)  
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [ ]:
#Pandas Slicing
#Pandas loc vs. iloc 
#if I wants a perticular row and column from the dataset's
from pandas import DataFrame
df = DataFrame(data)
df1=df[['P1']]
print(df1)
df2=df[['P1','P2','P3']]
print(df2)

           P1
0    4.166667
1    4.166667
2    4.166667
3    4.166667
4    4.166667
..        ...
114  4.500000
115  4.500000
116  4.500000
117  4.750000
118  4.500000

[119 rows x 1 columns]
           P1        P2   P3
0    4.166667  5.000000  5.0
1    4.166667  5.000000  5.0
2    4.166667  5.000000  5.0
3    4.166667  5.000000  5.0
4    4.166667  5.000000  5.0
..        ...       ...  ...
114  4.500000  4.500000  3.5
115  4.500000  4.500000  3.5
116  4.500000  4.666667  5.0
117  4.750000  4.666667  4.0
118  4.500000  4.833333  4.5

[119 rows x 3 columns]

In [ ]:
## retrieving rows by iloc method 
row2 = data.iloc[3] 
print(row2)

P1    4.166667
P2    5.000000
P3    5.000000
P4    5.000000
P5    5.000000
P6    5.000000
Name: 3, dtype: float64

In [ ]:
#Retrieving all rows and some columns by loc method
df3= data.loc[:, ["P1","P2","P3"]]
print(df3)

           P1        P2   P3
0    4.166667  5.000000  5.0
1    4.166667  5.000000  5.0
2    4.166667  5.000000  5.0
3    4.166667  5.000000  5.0
4    4.166667  5.000000  5.0
..        ...       ...  ...
114  4.500000  4.500000  3.5
115  4.500000  4.500000  3.5
116  4.500000  4.666667  5.0
117  4.750000  4.666667  4.0
118  4.500000  4.833333  4.5

[119 rows x 3 columns]

In [ ]:
## retrieving all rows and some columns by iloc method 
row3 = data.iloc [:, [0, 1, 2]]
print(row3)

           P1        P2   P3
0    4.166667  5.000000  5.0
1    4.166667  5.000000  5.0
2    4.166667  5.000000  5.0
3    4.166667  5.000000  5.0
4    4.166667  5.000000  5.0
..        ...       ...  ...
114  4.500000  4.500000  3.5
115  4.500000  4.500000  3.5
116  4.500000  4.666667  5.0
117  4.750000  4.666667  4.0
118  4.500000  4.833333  4.5

[119 rows x 3 columns]

In [ ]:
# retrieving two rows and two columns by iloc method 
row3 = data.iloc [[3, 4], 
                  [1, 2]]
print(row3)

    P2   P3
3  5.0  5.0
4  5.0  5.0

In [ ]:
# retrieving some rows and all the columns
row4 = data.iloc [1:5,:]
print(row4)

         P1   P2   P3  P4   P5  P6
1  4.166667  5.0  5.0   5  5.0   5
2  4.166667  5.0  5.0   5  5.0   5
3  4.166667  5.0  5.0   5  5.0   5
4  4.166667  5.0  5.0   5  5.0   5

In [ ]:
#Describe()
data = [[10, 18, 11], [13, 15, 8], [9, 20, 3]]
df = pd.DataFrame(data)
print(df.describe())

               0          1          2
count   3.000000   3.000000   3.000000
mean   10.666667  17.666667   7.333333
std     2.081666   2.516611   4.041452
min     9.000000  15.000000   3.000000
25%     9.500000  16.500000   5.500000
50%    10.000000  18.000000   8.000000
75%    11.500000  19.000000   9.500000
max    13.000000  20.000000  11.000000

In [ ]:
#shape()
print(df.shape)

(3, 3)